In [1]:
import numpy as np
import pandas as pd

In [3]:
train_df = pd.read_csv('train.csv', sep='\t')
train_df.head()

   TRANSACTIONID      ITEMID  PRICE   TRANSDATE
0              6  80275632.0  149.0  2016-02-26
1             10  80275632.0  149.0  2016-02-26
2             12  80088007.0    8.0  2016-02-26
3             13  80088007.0    8.0  2016-02-26
4             14  80088007.0    8.0  2016-02-26

In [4]:
print(train_df.shape[0])

6398799

In [7]:
train_part1 = train_df.loc[:train_df.shape[0] // 3, :]
train_part2 = train_df.loc[train_df.shape[0] // 3 + 1 : 2 * (train_df.shape[0]//3), :]
train_part3 = train_df.loc[2 * (train_df.shape[0]//3) + 1:, :]

In [8]:
print(train_part1.shape[0])
print(train_part2.shape[0])
print(train_part3.shape[0])

2132934
2132933
2132932

In [10]:
train_part1.to_csv('train_part1.csv', sep='\t')
train_part2.to_csv('train_part2.csv', sep='\t')
train_part3.to_csv('train_part3.csv', sep='\t')

In [12]:
load_train_part1 = pd.read_csv('train_part1.csv', sep='\t')
load_train_part2 = pd.read_csv('train_part2.csv', sep='\t')
load_train_part3 = pd.read_csv('train_part3.csv', sep='\t')
load_train_part1.head()

   Unnamed: 0  TRANSACTIONID      ITEMID  PRICE   TRANSDATE
0           0              6  80275632.0  149.0  2016-02-26
1           1             10  80275632.0  149.0  2016-02-26
2           2             12  80088007.0    8.0  2016-02-26
3           3             13  80088007.0    8.0  2016-02-26
4           4             14  80088007.0    8.0  2016-02-26

In [13]:
merged = load_train_part1.append(load_train_part2).append(load_train_part3)

In [14]:
print(merged.shape[0])
merged.head()

6398799

   Unnamed: 0  TRANSACTIONID      ITEMID  PRICE   TRANSDATE
0           0              6  80275632.0  149.0  2016-02-26
1           1             10  80275632.0  149.0  2016-02-26
2           2             12  80088007.0    8.0  2016-02-26
3           3             13  80088007.0    8.0  2016-02-26
4           4             14  80088007.0    8.0  2016-02-26